{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<meta name="theme-color" content="#000000"> 
<style>
    .fig {
     text-align: center; 
    }
    body {
        background: #4B0082;
        color: #F0E68C;
       }
</style>
<body>
<h1>Привет, я Алёна!</h1>
<p>
  <b> Немного расскажу о себе. </b> По образованию я инженер-математик. Сейчас работаю репетитором по информатике,
  помогаю ученикам готовиться к ЕГЭ.
</p>
<p>
  <b> В программирование я
  "вляпалась" еще в 11 классе </b> в 2010 году - сдавала экзамен по информатике. Прошла путь Basic на ЕГЭ -> Delphi на первом курсе универа -> 
  C++ и Python в дипломной работе -> они же на первой работе в ПО для расчета течений жидкостей. Потом был декрет: развлекалась, изучая с детьми
  Pascal на частных уроках. Сейчас мои ученики успешно сдают ОГЭ и ЕГЭ, решая задачи на Python. <b> Кодить мне нравится. </b>
  Особенно когда получается.
  И нравится меньше, когда ступорюсь на чем-то. <i> Но обычно кофе/поспать и всемогущий гугл разрешают ситуацию :) </i>
</p>
<p>
  <b> Меня можно найти (и пообщаться) здесь: </b>
  <ul>
    <a href="https://github.com/SmirEV/" style="color:LightGreen"> <li> Мой аккаунт GitHub </li> </a>
    <a href="https://dzen.ru/id/6223b45f1d74ee0d832a4fb3" style="color:LightGreen">
        <li> Мой блог на Дзене по решению задач из ЕГЭ по информатике </li> </a>
    <a href="https://vk.com/teachyou2023"  style="color:LightGreen"> <li> Личная страница ВК </li> </a>
  </ul>
</p>
<p  class="fig">
  <img src="{% static 'img/desktop.jpg' %}" alt="И бонусное фото моего рабочего стола :)" width="500"  height="500">
</p>
<p>
  И бонусное фото моего рабочего стола :) Обычно он выглядит менее опрятно: меньше розовых тетрадок и больше исписанных листочков -
  следствие моего твердого убеждения в том, что программа должна рождаться на бумаге, и только потом переноситься в файловый формат.
  Или не переносится - если задача нуждается в решении, но не в реализации этого решения.
  <a href="https://www.anekdot.ru/id/-42921012/" style="color:LightGreen"> Тут ссылка на анекдот про математиков, на который
  я намекаю) </a>
</p>
</body>
{% endblock %}
